body {
  padding: 0
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

.socials {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}