body {
  padding: 0
}

article {
  font-family: Merriweather;
  line-height: 1.8;
  color: #222222;
  font-size: 1.2em;
}

.dot:after {
  content: "\00B7";
  margin-left: 3px;
  margin-right: 3px;
}

a.no-style:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

.inline-svg  > svg {
  vertical-align: baseline !important;
}

.socials {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: baseline;
}
