{{ define "main" }}
<div class="end-of-section">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-7">
      <h1>Tags</h1>
      {{ if isset .Data "Term" }}
        <p>Filter posts by the following tags:</p>
        <div class="end-of-section">
          {{ partial "tag-aggregates.html" . }}
        </div>
      <p>The following post(s) are related to "{{ .Data.Term }}".</p>
        {{ range ($.Site.GetPage "taxonomyTerm" (urlize .Data.Term)).Pages }}
        {{ partial "post-list-item.html" . }}
        {{ end }}
      {{ else }}
        <p>Filter posts by the following tags:</p>
        <div class="end-of-section">
          {{ partial "tag-aggregates.html" . }}
        </div>
      {{ end }}
    </div>
  </div> 
</div>
{{ end }}