{{ define "main" }}
<h1>Tags</h1>
{{ if isset .Data "Term" }}
  The following post(s) are related to "{{ .Data.Term }}"
  <ol>
  {{ range ($.Site.GetPage "taxonomyTerm" .Data.Term).Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title | title}}</a></li>
  {{ end }}  
  </ol>
{{ else }}
  Filter posts by the following tags:
  <ol>
  {{ range ($.Site.GetPage "taxonomyTerm" "tags").Pages | sort }}
    <li><a href="{{ .Permalink }}">{{ .Title | title}}</a></li>
  {{ end }}
  </ol>
{{ end }}
{{ end }}
