{{ define "main" }}
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div id="home-jumbotron" class="jumbotron text-center">
          <h2 class="title">Coding With Codi</h1>
            <div class="mw-25">
              <div class="center-block">
                <img src="/images/me-and-fuji.jpg" class="img-fluid" width="730" height="548" alt="Me and Mt. Fuji">
              </div>
            </div>
          <p class="lead">
            Welcome to my blog! I'm Codi Huston!
          </p>
          {{ .Content }}
        </div>
      </div>
    </div>
    <div>
      {{ partial "recent-posts.html" . }}
    </div>
  </div>
</div>
{{ end }}
