{{ define "main" }}
<div>
  <div class="container">
    <div class="row end-of-section">
      <div class="col-lg-2"></div>
      <div class="col-lg-7">
        <div id="home-jumbotron" class="jumbotron">
          <h2 class="title">Coding With Codi</h1>
            <div class="mw-25">
              <div class="center-block">
                <img src="/images/me-and-fuji.jpg" class="img-fluid" width="730" height="548" alt="Me and Mt. Fuji">
              </div>
            </div>
          <article>
            <p class="lead text-center">
              Welcome to my blog! I'm Codi Huston!
            </p>
            {{ .Content }}
          </article>
          <div class="text-center">
            <div class="end-of-section">
              <h3>Categories</h3>
              {{ partial "category-aggregates.html" . }}
            </div>
            <div class="end-of-section">
              <h3>Tags</h3>
              {{ partial "tag-aggregates.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "recent-posts.html" . }}
  </div>
</div>
{{ end }}
