{{ define "main" }}
<main>
  <article class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <header class="">
            <h1>{{ .Title }}</h1>
            {{ partial "metadata.html" . }}
        </header>
        <h2> Table of Contents</h2>
        <aside class="toc">
            {{ .TableOfContents }}
        </aside>
        <div class="flex-first flex-md-unordered">
          {{ .Content }}
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </article>
</main>
{{ end }}