<div class="row author end-of-section">
  <div class="col-md-2 text-center text-md-start">
  <a href="{{ .Site.BaseURL }}">
  <img alt=""
    src="/images/me-shibuya-sky.png"
    class=""
    height="100"
    width="100">
  </a>
  </div>
  <div class="lh-sm col-md-10">
  <div class="text-center text-md-start">
    <a class="link-dark" href="{{ .Site.BaseURL }}">
    {{ $.Site.Params.author }}
    </a>
  </div>
  <div class="text-center text-md-start text-muted">
    <span class="author-description">{{ $.Site.Params.aboutme }}</span>
  </div>
  </div>
</div>