<div class="socials">
  <div>
    <a href="mailto:{{$.Site.Params.email}}" class="no-style" title="Email Address">
      <span class="">{{ partial "fontawesome.html" "envelope" }}</span>
    </a>
  </div>
  <div>
    <a href="https://github.com/codihuston" class="no-style" title="Github">
      <span class="">{{ partial "fontawesome.html" "github" }}</span>
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/codihuston" class="no-style" title="Instagram">
      <span class="">{{ partial "fontawesome.html" "instagram" }}</span>
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/codi-huston" class="no-style" title="LinkedIn">
      <span class="">{{ partial "fontawesome.html" "linkedin" }}</span>
    </a>
  </div>
  <div>
    <a href="https://twitter.com/codingwithcodi" class="no-style" title="Twitter">
      <span class="">{{ partial "fontawesome.html" "twitter" }}</span>
    </a>
  </div>
  <div>
    <a href="https://www.youtube.com/@codingwithcodi" class="no-style" title="Youtube">
        <span class="">{{ partial "fontawesome.html" "youtube" }}</span>
    </a>
  </div>
</div>
